<div class="home-bg"></div>
<img class="home-logo" src="images/mamaz-logo-white-500x707.png"/>
<div class="home-text">
  <!--<div class="title">Mamaz Kitchen</div>-->
  <!--<div class="subtitle">Home Cooked Marketplace</div>-->
  <div class="status">The site is currently under construction</div>
  <div class="contact">In the meantime you can contact us at:
    <a href="mailto:info@mamaz.kitchen" target="_blank">info@mamaz.kitchen</a>
  </div>
</div>