<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 signup-form form-cook">

        <div class="spacer"></div>

        <p>
          To get into our specialized cooking team, please tell us more about yourself, and your connection to cooking.
          <br/>
          We go through the invite requests regularly and will get back to you with the details required to join us as soon as possible.
        </p>

        <div class="spacer"></div>

        <i class="fa fa-check signup-success" style="display: none;"></i>

        <form action="/leads/signup" method="post">
          <input type="hidden" class="form-control" name="type" value="COOK">
          <div class="form-group">
            <label for="cook-name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="cook-email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="cook-phone">Phone</label>
            <input type="phone" class="form-control" name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="cook-details">More Details</label>
            <textarea class="form-control" name="details" placeholder="Tell us about yourself"></textarea>
          </div>

          <div class="spacer"></div>

          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>

      <div class="col-xs-2"></div>
      <div class="col-xs-5 signup-form form-eater">

        <div class="spacer"></div>

        <p>
          To join our group of full-bellied families, please enter your contact details.
          <br/>
          We go through the invite requests regularly and will get back to you with the details required to join us as soon as possible.
        </p>

        <div class="spacer"></div>

        <i class="fa fa-check signup-success" style="display: none;"></i>

        <form action="/leads/signup" method="post">
          <input type="hidden" class="form-control" name="type" value="EATER">
          <div class="form-group">
            <label for="eater-name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="eater-email">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="eater-phone">Phone</label>
            <input type="phone" class="form-control" name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <label for="eater-location">Place of residence</label>
            <input type="text" class="form-control" name="location" placeholder="Place of residence">
          </div>

          <div class="spacer"></div>

          <button type="submit" class="btn btn-danger">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="home">
  <div class="home-cover" style="display: none;"></div>
  <img class="home-logo" src="images/mamaz-logo-white-500x707.png"/>
  <div class="home-contact" >
    <i class="fa fa-envelope"></i>
    &nbsp;
    <a href="mailto:info@mamaz.kitchen" target="_blank">info@mamaz.kitchen</a>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="spacer"></div>
      <div class="col-xs-12">
        <div class="home-text">
          <!--<div class="title">Mamaz Kitchen</div>-->
          <!--<div class="subtitle">Home Cooked Marketplace</div>-->
          <div class="status">
            Remember that magical feeling of eating your mother’s cooking?<br/>
            Imagine being able to feed your children every night with the same home cooked, <br/>
            healthy food, without cooking or hassling, at half the price of any restaurant.<br/>
            This is what Mamaz Kitchen is about.
          </div>
          <!--<div class="contact">In the meantime you can contact us at:-->
            <!--<a href="mailto:info@mamaz.kitchen" target="_blank">info@mamaz.kitchen</a>-->
          <!--</div>-->
          <div class="spacer"></div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="col-xs-3 col-xs-offset-2">
        <div class="section-text cook-text">
          <p>Are you a talented cook?</p>
          <p>Do you want to create a new source of income while cooking your food from your home?</p>
          <p>Join our cooking team and get paid for cooking your own food in your own kitchen, without having to worry about deliveries, packaging or costumers.</p>
          <p>Just cook and get paid.</p>

          <div class="spacer"></div>
          <div class="btn btn-default btn-large btn-i-cook">JOIN OUR COOKING TEAM</div>
        </div>
      </div>
      <div class="col-xs-1"></div>
      <div class="col-xs-1"></div>
      <div class="col-xs-3">
        <div class="section-text eater-text">
          <p>Are you one of those young, busy families that never have time to cook?</p>
          <p>Do you want to feed your children with healthy, home cooked food without spending a fortune on it?</p>
          <p>Join our group of families that enjoy a weekly supply of home cooked, healthy food, at an affordable price</p>
          <p>Just subscribe and solve the food problem.</p>

          <div class="spacer"></div>
          <div class="btn btn-default btn-large btn-i-eat">JOIN OUR SATISFIED FAMILIES</div>
        </div>
      </div>

    </div>
  </div>
</div>
